@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap');



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
  line-height: 1;
  box-sizing: border-box;
  font-family: 'Lancelot', cursive;
  font-size: 1.5rem;
  color:white;
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
	font-size: 5rem;
	font-family: 'Elsie', cursive;
}

h2 {
	font-size:4rem;
}

h3 {
	font-size:3rem;
}

.capital {
	font-size: 2rem;
	font-family: 'Elsie', cursive;
}

header {
	background-color:#006ba6;
	color:white;
	display:flex;
	height:15vh;
	align-items:center;
	justify-content:space-between;
	padding:1rem;
}

footer {
	background-color:#006ba6;
	color:white;
	display:flex;
	height:15vh;
	align-items:center;
	justify-content:space-between;
	padding:1rem;
margin-top:auto;
}

.pink {
	background-color:#d81159;
}

.blue {
	background-color:#006ba6;
}

.pinkback {
	background-color:#ff5d8f;
}

.blueback {
	background-color:#8ecae6;
}

nav{
	display:flex;
	justify-content:flex-end;
}

nav a {
	text-decoration:none;
	color:white;
	padding:1rem;
	font-size:2rem;
}

.makeitpink {
	color:white;
	border:none;
	font-size:2rem;
	font-family: 'Lancelot', cursive;
	padding:1rem;
	outline:none;
}

.App {
	height:100vh;
	display:flex;
	flex-direction:column;
}

.toggle {
	display:flex;
	align-items:center;
	justify-content:center;
	padding:1rem;
}

.display {
	display:none;
}